h1{
    color: white;
    justify-self: center;
    font-size: 70px;
    font-family: 'Fira sans', sans-serif;
    margin-right: 12px;
}

.header{
    display: flex;
    background-color: #282c34;
    overflow: hidden;
    text-align: center;
    height: 150px;
    width: 100%;
    justify-content: center;
}

.header img{
    height: 150px;
}

img{
    height: 201px;
    width: auto;
    align-self: center;
}

