.phone-preview-container{
  padding: 35px 100px;

}
.phone-preview-container h3{
  font-size: 30px;
}

.list-container{
  align-content: center;
  justify-content: center;
  display: flex;
  list-style-type: none;
}